.login-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.login-popup-container {
    width: max(23vw, 350px);
    color: #333;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 35px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    animation: fadeIn 0.5s ease;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-popup-title h2 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.login-popup-title img {
    cursor: pointer;
    width: 20px;
    transition: transform 0.3s ease;
}

.login-popup-title img:hover {
    transform: rotate(90deg);
}

.login-popup-inputs input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.login-popup-inputs input:focus {
    border-color: #007BFF;
    outline: none;
}

.login-popup-container button {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-popup-container button:hover {
    background-color: #0056b3;
}

.login-popup-condition {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    color: #666;
}

.login-popup-condition input {
    cursor: pointer;
}

.login-popup-condition p {
    margin: 0;
}

.login-popup span {
    color: #007BFF;
    cursor: pointer;
    transition: color 0.3s ease;
}

.login-popup span:hover {
    color: #0056b3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
